INSTAGRAM_TOKEN=your_instagram_token_here
FACEBOOK_PAGE_ID=1117449661446260
FACEBOOK_ACCESS_TOKEN=EAAbL2eoXjvUBRKRiwTaxDHIjm1tKmbyrQgbWPTaZCoCcnwUYTiEoXojZAtCbL1FZC8u61ywItThD3A7dsjbOrLEkEZAOZAB17W11tyRXjVM2DNeD0xsInfuS2Xo35WCdny8cXN38ZAb932bkoydOISaNIr5cE2abc7HTJGtuWZA38JzuxnPMqVrbGaTdzpvXJtjvjgZB
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=soldi.daniele.08@gmail.com
MAIL_PASSWORD=khyn vtfe qzdm tugf
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true
MAIL_SMTP_SSL_ENABLE=false
APP_MAIL_FROM=soldi.daniele.08@gmail.com
APP_MAIL_CONTACT_TO=soldi.daniele.08@gmail.com
